/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

/* Tabs styles */
.tabsWrapper {
    display: flex;
    margin-bottom: 20px;
}

.tabsButton {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #333;
    cursor: pointer;
    outline: none;
}

.tabsButton.selectedTab {
    font-weight: bold;
    background-color: #61a6f0;
}
.tabsButton.selectedTab:hover {
    background-color: #0056b3;
}

/* List styles */
.itemsListWrapper {
    margin-top: 20px;
}

.toDoItem-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.toDoItem-wrapper.done {
    background-color: #d4edda;
}

.toDoItem-wrapper.deleted {
    background-color: #f8d7da;
}

.toDoItem-wrapper input[type="checkbox"] {
    margin-right: 10px;
}

.toDoItem-wrapper p {
    flex-grow: 1;
    margin: 0;
}

.ToDoItemButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.ToDoItemButton:hover {
    background-color: #c82333;
}

/* Create to do styles */
.createToDoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.createToDoWrapper .toDoInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.createToDoWrapper button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 20%;
    margin-left: 10px;
}

.createToDoWrapper button:hover {
    background-color: #0056b3;
}
